<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a routerLink="/">
    <img
      width="100"
      alt="Angular Logo"
      src="../assets/images/buscajud2.png"
    />
  </a>
  <!-- <span>BuscaJud</span> -->
    <!-- <div class="spacer"></div> -->
    <!-- <p>a barra de busca vem aqui</p> -->
    <div class="form">  
      <form>
        <label for="form-search"></label>
        <input class="form-control" type="text" id="form-search" placeholder="Digite aqui para realizar sua busca" [value]="textoBusca">
        <!-- <input class="form-control" type="search" placeholder="Digite aqui para realizar sua busca" aria-label="Search"> -->
      </form>
    </div>  
    <div class="spacer"></div>
    <img
    width="200"
    alt="Angular Logo"
    src="../assets/images/trf5.PNG"
  />
</div>