<div class="row">
  <div class="mt-2 col-sm-6">
    <div class="card">
      <div class="card-header">
        Certidão negativa
      </div>
      <div class="card-body p-5">
        <a href="#" class="btn btn-primary">Emitir certidão</a>
      </div>
    </div>
  </div>

  <div class="mt-2 col-sm-6">
    <div class="card">
      <div class="card-header">
        Certidão negativa
      </div>
      <div class="card-body p-5">
        <a href="#" class="btn btn-primary">Validar certidão</a>
      </div>
    </div>
  </div>
</div>
