<head>
    <title>BuscaJud</title>
    <!-- <link href="./assets/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- <link href="carousel.css" rel="stylesheet"> -->
  </head>
  
  <body>
    <header>
    </header>  
    
    <!-- GOOGLE IMG -->  
    <div class="google">
      <a href="#" id="google_logo"><img src="../assets/images/buscajud2.png" alt=""/></a>
    </div>
    
    <!-- FORM SEARCH -->  
    <div class="form">  
      <form>
        <label for="form-search"></label>
        <input class="form-control" type="text" id="form-search" placeholder="Digite aqui para realizar sua busca">
        <!-- <input class="form-control" type="search" placeholder="Digite aqui para realizar sua busca" aria-label="Search"> -->
      </form>
    </div>  
    
    <!-- BUTTONS -->
    <div class= "buttons">
      <form class="text-center">
        <a routerLink="/result" class="btn btn-outline-primary">BuscaJUD</a>
        <!-- <a href="./loading.html">
          <button class="btn btn-outline-primary" type="submit">BuscaJUD</button>
         </a> -->
      </form>
    </div>
      
    <!-- FOOTER -->
    <footer>
      <div class="text-center" >
        <p> &copy;2021 <a href="https://www.trf5.jus.br/">TRF5</a>
           | <a href="https://www.jfse.jus.br/">JFSE</a> | JFRN |JFPE | JFCE | JFAL | JFPB</p>
          <!-- <a href="https://www.trf5.jus.br/">Site do TRF5</a> -->
      </div>
    </footer>      
    <script src="./assets/js/bootstrap.bundle.js"></script>
  </body>